<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Nadzorni sustav</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (!isLogin){%>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Reprodukcija uživo</a>
        </li>
        <% if (user.role === 'admin'){%>
        <li class="nav-item">
          <a class="nav-link active" href="/all">Pregled prijašnjih snimaka</a>
        </li>
      <%}%>
      </ul>
    </div>
    <%}%>
  </div>
  <% if(user) {%>
  <p class="mr-2 mb-0">Dobrodošao/la, <b><%= user.username %>!</b></p>
  <a href="/logout"><button class="btn btn-danger mr-2"> Odjava </button></a>
  <%}%>
  <% if(!user && !isLogin) {%>
  <a href="/login"<button class="btn btn-success mr-2"> Prijava </button></a>
  <%}%>
</nav>
