<h2 class="text-center mb-4">Pregled prijašnjih snimki</h2>
 <% if (videos.length === 0){ %>
  <h4 class="text-center">Nema prijašnjih snimki. Pokušajte kasnije.</h4>
 <%}%>
 <% videos.forEach(video => { %>
  <div class="card">
    <div class="card-body d-flex justify-content-between">
     <p><%= video.name %></p>
     <div class="d-flex justify-content-end">
     <div title="Preuzmi video" style="cursor: pointer;">
	<a href="http://<%=hostname%>:3005/stream_recordings/<%=video.name%>">
	  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-download-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</svg>
	</a>
     </div>
     <div title="Izbriši video" style="cursor: pointer;" onclick="deleteVideo('<%=video.name%>')">
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
</svg>
     </div>
     </div>
    </div>
  </div>
 <% }); %>
<script>
function deleteVideo(videoName) {
  fetch('/video/' + videoName, { method: 'DELETE' })
  .then(response => console.log(response.json()))
  .then(data => console.log(data) || window.location.reload());
}
</script>
