
<div class="main">
<div class="row mb-4">
  <div class="col-12 d-flex justify-content-around">
  </div>
</div>
<h2 class="text-center mb-3">Reprodukcija uživo </h2>
<video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="/images/scott-webb-yekGLpc3vro-unsplash.jpg"
    data-setup='{}'>
  <source src="http://<%=hostname%>:3005/hls/stream.m3u8" type="application/x-mpegURL"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
</div>

<style>
.video-js {
  width: 100%;
  height: 480px;
}

.video-js .vjs-big-play-button {
  top: 45%;
  left: 45%;
}

</style>
