<h1 class="text-center mb-4">Prijava</h1>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <form class="w-50" action="/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Korisničko ime</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Lozinka</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Prijava</button>
    </form>
  </div>
</div>
